.main-page{
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title{
  font-size: 8.5rem;
  font-weight: 900;
  text-transform: capitalize;
}

.main-subtitle{
  width: 570px;
  margin: 40px 0px;
}

.button-join{
  padding: 13px 40px;
}

.image-bodybuilder{
  width: 600px;
}