
.services-text{
  margin-bottom: 7.0rem;
}

.div-services{
  display: flex;
  gap: 2.5rem;
}

.services-img{
  height: 25.0rem;
  border-radius: 30px;
}

/* .services-img:hover{
  transition: .2s ease-in-out;
  transform: scale(1.08);
} */

.figure-services{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.figure-services:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; /* altura do esfumaçado */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}

.figcaption-services{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 1.6rem;
  z-index: 1;
}
